@media (min-width: 320px) and (max-width: 576px) { 

 /* 🔴 menu hide */
  .nav-option {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff;
    width: 200px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  }

  /* 🔴 click করলে show */
  .nav-option.active {
    display: block;
  }

  .nav-item {
    flex-direction: column;
    gap: 15px;
  }

  /* 🔴 contact button hide (optional) */
  .nav-btn {
    display: none;
  }

  /* 🔴 hamburger show */
  .nav-toggle {
    display: block;
    margin-left: 222px;
    margin-top: 12px;
}

.logo img{
    width: 50px;
}

/* banner part rsp */
.container {
    /* width: 1100px; */
    max-width: 280px;
    margin: 0 auto;
}
.banner-part-controler {
    display: flex;
    margin-top: 20px;
    padding: 10px;
    flex-direction: column;
}
.banner-image img {
    width: 277px;
    height: 400px;
}
.banner-text-part {
    max-width: 280px;
    margin-top: 0px;
    padding: 15px;
    order: 1;
}
.banner-text-part h2 {
    padding: 2px;
    font-size: 24px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    margin-bottom: 10px;
}
.banner-btn{
    display: flex;
    justify-content: center;
}
.banner-text-part p {
    padding: 13px;
    font-size: 19px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    margin-bottom: 24px;
}


/* standard curriculum */
.curriculum-card-parent {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    justify-content: center;
}
.first-curriculum-card {
    box-shadow: 0 20px 12px rgba(0, 0, 0, 0.3);
    width: 273px;
    background: linear-gradient(#DEF5FF, #FFFFFF);
    height: 404px;
    border-radius: 18px;
    /* padding: 0px; */
}
.second-curriculum-card {
    box-shadow: 0 20px 12px rgba(0, 0, 0, 0.3);
    width: 273px;
    background: linear-gradient(#FFFFFF, #FFF4DC);
    border-radius: 18px;
    height: 404px;
}
.third-curriculum-card {
    box-shadow: 0 20px 12px rgba(0, 0, 0, 0.3);
    width: 273px;
    background: linear-gradient(#FFFFFF, #F2E8FF);
    height: 404px;
    border-radius: 18px;
}
.curriculum-heading h1 {
    font-size: 23px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    text-align: center;
    margin-bottom: 17px;
}
.slider-indicator {
    max-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0px 0;
}


/* left site card */
.left-site-card {
    display: none;
    width: 420px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
}
.our-stories-heading h2 {
    font-size: 27px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 21px;
}

.left-site-control-parent {
    width: 266px;
    height: 262px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}
.right-site-image-button button {
    position: absolute;
    z-index: 1;
    width: 126px;
    height: 31px;
    border-radius: 20px;
    margin-top: -16px;
    margin-left: 27px;
    background-color: #95B226;
    border: none;
    color: white;
}
.right-site-image-button2 button {
    position: absolute;
    z-index: 1;
    width: 126px;
    height: 31px;
    border-radius: 20px;
    margin-top: -16px;
    margin-left: 27px;
    background-color: #95B226;
    border: none;
    color: white;
}
.right-site-image-button3 button {
    position: absolute;
    z-index: 1;
    width: 126px;
    height: 31px;
    border-radius: 20px;
    margin-top: -16px;
    margin-left: 27px;
    background-color: #95B226;
    border: none;
    color: white;
}
.right-site-image-button4 button {
    position: absolute;
    z-index: 1;
    width: 126px;
    height: 31px;
    border-radius: 20px;
    margin-top: -16px;
    margin-left: 27px;
    background-color: #95B226;
    border: none;
    color: white;
}
.our-stories-first-image img {
    width: 265px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}
.our-stories-second-image img {
    border-radius: 10px;
    width: 265px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.our-stories-third-image img {
    border-radius: 10px;
    width: 265px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.our-stories-four-image img {
    border-radius: 10px;
    width: 265px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* view button */
.view-all-btn button {
    background-color: var(--black-text-color);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 50px;
}
.banner-image{
    display: flex;
    justify-content: center;
}
.control {
    width: 53px;
    height: 53px;
    border-radius: 122px;
    background-color: var(--orange-text-color);
    color: white;
    border: none;
    margin-top: 20px;
}
.our-stories-right-site {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 280px;
    flex-direction: column;
}
.our-stories-card-parent {
    display: flex;
    gap: 10px;
    justify-content: center;
}


/* footer responsive */
.kids-logo img{
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}
.logo-text h2 {
    font-size: 29px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: white;
}
.footer-about-list-item li {
    margin-top: 20px;
    margin-left: 9px;
}
.footer-about-heading h4 {
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: white;
    margin-left: 9px;
}
.kids-education {
    margin-top: 60px;
    display: none;
}
.keep-in-touch {
    margin-right: -10px;
    margin-top: -34px;
}
#footer-section {
    margin-top: 59px;
    height: 285px;
    background-color: var(--sky-blue-text-color);
}
.keep-in-touch-text h4 {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: white;
}
/* last bracket */
}

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) { }