/* universel Css */
* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
ol,
span {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* universel Css */




/* shared style start */

/* font-family: "Work Sans", sans-serif; */

:root {
    --common-backgroun-color: #01ACFD;
    --sky-blue-text-color: #01ACFD;
    --orange-text-color: #FEA301;
    --black-text-color: #000000;
    --primary-text-color: #05D4DF;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/* shared style end */


/* nav style start */
.nav-controler {
    display: flex;
    margin-top: 16px;
}

.nav-item {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-item .home a {
    color: var(--orange-text-color);
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.nav-item .about a {
    font-size: 20px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
    color: var(--common-backgroun-color);
}

.nav-item .Facilities a {
    font-size: 20;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: var(--primary-text-color);
}

.nav-item .Admission a {
    font-size: 20px;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}

.nav-option {
    margin-left: 270px;
}

.nav-btn {
    margin-left: 270px;
}

.nav-btn button {
    background-color: var(--orange-text-color);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    justify-content: center;
}

/* nav style end */




/* banner part start */
.banner-part-controler {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    padding: 10px;
}

.banner-text-part h2 {
    font-size: 50px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    margin-bottom: 24px;
}

.banner-text-part {
    margin-top: 178px;
}

.banner-text-part .towards-vision {
    color: var(--sky-blue-text-color);
}

.banner-text-part p {
    font-size: 20px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    margin-bottom: 24px;
}

.banner-text-part button {
    width: 130px;
    height: 40px;
    background-color: var(--black-text-color);
    color: white;
    border: none;
    border-radius: 12px;
}

/* right site banner image */
.banner-image img {
    width: 369px;
    height: 454px;
}

/* banner part end */



/* standard curriculum section design */
#standard-curriculum {
    margin-top: 50px;
    padding: 10px;
}

.background-image {
    background-image: url("/assets/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.curriculum-heading h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    text-align: center;
    margin-bottom: 80px;
}

/* curriculum card */
.first-curriculum-card {
    box-shadow: 0 20px 12px rgba(0, 0, 0, 0.3);
    width: 344px;
    background: linear-gradient(#DEF5FF, #FFFFFF);
    height: 450px;
    border-radius: 18px;
}

.second-curriculum-card {
    box-shadow: 0 20px 12px rgba(0, 0, 0, 0.3);
    width: 344px;
    background: linear-gradient(#FFFFFF, #FFF4DC);
    height: 450px;
    border-radius: 18px;
}

.third-curriculum-card {
    box-shadow: 0 20px 12px rgba(0, 0, 0, 0.3);
    width: 344px;
    background: linear-gradient(#FFFFFF, #F2E8FF);
    height: 450px;
    border-radius: 18px;
}

.curriculum-card-parent {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.curriculum-image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.curriculum-image img {
    width: 136px;
    height: 136px;
}

.curriculum-image-text h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    margin-top: 32px;
}

.curriculum-image-text p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    margin-top: 33px;
    margin-bottom: 33px;
}

.curriculum-btn {
    display: flex;
    justify-content: center;
}

.curriculum-btn h5 {
    border: none;
    color: var(--sky-blue-text-color);
    font-size: 16px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
}

.curriculum-btn .second-btn {
    color: var(--orange-text-color);
}

.curriculum-btn .third-btn {
    color: #8700FF;
}

/* standard curriculum section design */



/* indicator */
.slider-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 40px 0;
}

.control {
    width: 53px;
    height: 53px;
    border-radius: 122px;
    background-color: var(--orange-text-color);
    color: white;
    border: none;
    margin-top: 70px;
}

/* indicator */



/* our stories design start */
.our-stories-heading h2 {
    font-size: 40px;
    font-weight: 800;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.left-site-card {
    width: 420px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
}

.left-site-card-image img {
    width: 420px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.stori-button button {
    position: absolute;
    z-index: 1;
    width: 157px;
    height: 36px;
    border-radius: 20px;
    margin-top: -26px;
    margin-left: 27px;
    background-color: var(--primary-text-color);
    border: none;
    color: white;
}

.our-stori-text {
    margin-top: 20px;
    padding: 37px;
}

.our-stori-text p {
    font-size: 20px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    line-height: 30px;
}

.our-stori-text h3 {
    line-height: 28px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    margin-bottom: 40px;
}

.our-stories-card-parent {
    display: flex;
    gap: 20px;
}

/* right site */
#our-stories{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(#f5e3bf, #f3e5af);
    background-image: url("/assets/bg.png");
}
.our-stories-right-site {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.left-site-control-parent {
    width: 290px;
    height: 270px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.our-stories-first-image img {
    width: 290px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.right-site-image-button button {
    position: absolute;
    z-index: 1;
    width: 140px;
    height: 36px;
    border-radius: 20px;
    margin-top: -26px;
    margin-left: 27px;
    background-color: #95B226;
    border: none;
    color: white;
}
.right-site-image-button2 button{
    position: absolute;
    z-index: 1;
    width: 140px;
    height: 36px;
    border-radius: 20px;
    margin-top: -26px;
    margin-left: 27px;
    background-color: #5D58F0;
    border: none;
    color: white;
}
.right-site-image-button3 button{
    position: absolute;
    z-index: 1;
    width: 140px;
    height: 36px;
    border-radius: 20px;
    margin-top: -26px;
    margin-left: 27px;
    background-color: #95B226;
    border: none;
    color: white;
}
.right-site-image-button4 button{
    position: absolute;
    z-index: 1;
    width: 140px;
    height: 36px;
    border-radius: 20px;
    margin-top: -26px;
    margin-left: 27px;
    background-color: #95B226;
    border: none;
    color: white;
}

.our-stories-second-image img {
    border-radius: 10px;
    width: 290px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.our-stories-third-image img {
    border-radius: 10px;
    width: 290px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.our-stories-four-image img {
    border-radius: 10px;
    width: 290px;
    height: 146px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.left-site-image-text p {
    margin-top: 60px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
}

.view-all-btn{
    display: flex;
    justify-content: center;
}
.view-all-btn button{
    background-color: var(--black-text-color);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 80px;
}

/* our stories design end */


/* footer section design start */
#footer-section{
    margin-top: 59px;
    height: 320px;
    background-color: var(--sky-blue-text-color);
}
.footer-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo parent */
.kids-logo{
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
}
.kids-education{
    margin-top: 60px;
}
.logo-text h2{
    font-size: 35px;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: white;
}
/* social icon */
.keep-in-touch{
    margin-right: 17px;
    margin-top: -34px;
}
.footer-keep-in-touch-social-icon{
    display: flex;
    gap: 5px;
}
.footer-keep-in-touch-social-icon li img{
    width: 32px;
    height: 32px;
}
.kids-text p{
    font-size: 20px;
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
    color: var(--black-text-color);
    color: white;
}

/* footer about */
.footer-about-heading h4{
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: white;
}
.footer-about-list-item li{
    margin-top: 20px;
}
.footer-about-list-item li a{
    color: white;
}
.footer-about{
    margin-top: 60px;
}

/* keep in touch */
.keep-in-touch-text h4{
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
    color: white;
}
/* footer section design end */